html body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
html body main {
  padding: 1.6rem;
  max-width: 100vw;
}

.error {
  display: block;
  padding: 0.6rem;
  border-radius: 0.6rem;
  font-family: monospace;
  font-weight: bold;
  font-size: 1rem;
  background-color: rgba(204, 51, 51, 0.6);
  backdrop-filter: blur(3px);
}

.title {
  text-decoration: underline;
  text-transform: capitalize;
}

.recipes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.recipe {
  width: 90%;
  display: block;
  border-radius: 2rem;
  border: grey 3px solid;
  padding: 1.5rem;
}
.recipe.full-screen {
  max-width: 100%;
  width: none;
  padding: 2.6rem;
  border: none;
  display: flex;
  flex-direction: column;
}
.recipe.full-screen .title {
  margin-bottom: 0.5rem;
}
.recipe.full-screen .user {
  margin-bottom: 1.6rem;
}
.recipe .details {
  display: flex;
  flex-direction: column;
}
.recipe .details svg {
  display: inline;
  aspect-ratio: 1;
  width: 2rem;
}
.recipe .details span {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  align-items: center;
}
.recipe .details .portions svg .st0 {
  fill: #000000;
}
.recipe .details .time svg .st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
}
.recipe .comments {
  display: flex;
  flex-direction: column;
}
.recipe .comments .likes svg {
  fill: #000;
}

.nav-bar {
  position: sticky;
  top: 0;
  max-width: 100vw;
  padding: 0.6rem 6.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  background-color: green;
}
.nav-bar * {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.nav-bar .home:focus-within svg,
.nav-bar .home:focus-within svg *, .nav-bar .home:hover svg,
.nav-bar .home:hover svg *, .nav-bar .home:active svg,
.nav-bar .home:active svg * {
  fill: #000;
}
.nav-bar .home svg,
.nav-bar .home svg * {
  aspect-ratio: 1;
  width: 2rem;
  fill: #333;
  transition: fill linear 0.2s;
}
.nav-bar .search-form {
  display: inline-flex;
  flex-direction: row;
  gap: 0.6rem;
  align-items: center;
}
.nav-bar .search-form .search-input {
  width: 30rem;
  padding: 0.25rem 0.6rem;
  border: none;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.75);
  transition: background-color 0.2s linear;
}
.nav-bar .search-form .search-input:focus-within, .nav-bar .search-form .search-input:hover, .nav-bar .search-form .search-input:active {
  background-color: white;
}
.nav-bar .search-form .search-button {
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  width: 2.3rem;
  background-color: transparent;
  border: none;
}
.nav-bar .search-form .search-button:hover svg, .nav-bar .search-form .search-button:active svg, .nav-bar .search-form .search-button:focus-within svg {
  fill: #000;
}
.nav-bar .search-form .search-button svg {
  fill: #333;
  aspect-ratio: 1;
  width: 80%;
  transform: translate(0, 0.16rem);
  transition: fill linear 0.2s;
}
.nav-bar .account {
  align-self: right;
}
.nav-bar .account:hover svg,
.nav-bar .account:hover svg *, .nav-bar .account:active svg,
.nav-bar .account:active svg *, .nav-bar .account:focus-visible svg,
.nav-bar .account:focus-visible svg * {
  stroke: #000;
}
.nav-bar .account svg,
.nav-bar .account svg * {
  aspect-ratio: 1;
  width: 1.6rem;
  stroke: #333;
  stroke-width: 1.6;
  transition: stroke linear 0.2s;
}

/*# sourceMappingURL=styles.css.map */
